@import 'library';

.form {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    position: relative;

    &__field {
        width: 100%;
        
        &_radio-buttons {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 8px 0 8px 0;
        }
    }

    &__fields-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .8rem;
    }

    &__buttons-wrapper {
        margin-top: .5rem;

        width: fit-content;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        &_align-start {
            align-self: start;
        }
    }

    &__button {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        & {
            font-size: 1.2rem;
        }
        &__buttons-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__fields-group {
            flex-direction: row;
        }

        &__button {
            width: fit-content;
        }
    }
}

