/* General */

$xs-width: 320px;
$md-width: 768px;
$lg-width: 1124px;

/* Header */

$header-height: 72px;


/* Foooter */

$footer-height-xs: 400px;
$footer-height-md: 216px;
$footer-height-lg: 222px;
$footer-bg-clr: #262626;
$footer-logo-height: 32px;

/* Links */
$links-clr: rgb(58, 160, 211);
$bg-color-01: white;
$bg-color-02: rgb(164, 224, 254);
$bg-color-02-opasity: rgb(164, 224, 254, 0.5);