/* General */

$xs-width: 320px;
$md-width: 768px;
$lg-width: 1124px;

$bg-color-01: white;
$bg-color-01-hover: rgb(217, 217, 217);
$bg-color-01-active: rgb(180, 180, 180);
$bg-color-01-opasity: rgb(255, 255, 255, 0.2); 
$bg-color-02: rgb(164, 224, 254);
$bg-color-02-opasity: rgb(164, 224, 254, 0.5);
$bg-color-03: #262626;
$bg-color-03-hover: #424242;
$bg-color-03-active: rgb(101, 102, 102);
$bg-color-04: #FF9640;

/* Cards */

$bg-card-clr-01: #262626;
$bg-card-clr-01-hover: #424242;
$bg-card-clr-01-active: rgb(101, 102, 102);

$bg-card-clr-02: #6D40FF;
$bg-card-clr-02-hover: #5431c5;
$bg-card-clr-02-active: #42279b;

$bg-card-clr-03: #ffa042;
$bg-card-clr-03-hover: #de842a;
$bg-card-clr-03-active: #aa5e12;



/* Fonts */

$xs-font-size: 1.5rem;
$md-font-size: 1.8rem;
$lg-font-size: 2rem;

$xs-font-size-h3: 1.2rem;
$md-font-size-h3: 1.5rem;
$lg-font-size-h3: 1.8rem;


/* Header */

$header-height: 72px;

/* blocks-general */

$box-shadow: 
    0 0 3px .5px black;

/* Foooter */

$footer-height-xs: 400px;
$footer-height-md: 216px;
$footer-height-lg: 222px;
$footer-bg-clr: #262626;
$footer-logo-height: 32px;

/* Links */
$links-clr: rgb(58, 160, 211);

