@import '/src/app/styles/header';
@import '/src/app/styles/footer';
@import '/src/app/styles/library';
@import '/src/app/styles/link';
@import '/src/app/styles/mixins';
@import '/src/app/styles/button';
@import '/src/app/styles/grid';
@import '/src/app/modules/mybank/components/my-bank/styles/items-block';
@import '/src/app/modules/mybank/components/my-bank/styles/product';
@import '/src/app/modules/mybank/components/my-bank/styles/user-info-block';


:host {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
}