<div class="grid g-3">

    <div class="grid__row">
        <h2 class="title col-xs-12 col-md-12 col-lg-12">
            Добро пожаловать
        </h2>
    </div>

    <div class="grid__row">
        <section class="user-info-block col-xs-12 col-md-6 col-lg-4">
            <ng-container *ngIf="userFullName$ | async as userFullName else loading">
                <div class="user-info-block__avatar">{{userFullName.firstName[0]}}</div>
                <p class="user-info-block__data"><strong>
                        {{userFullName.lastName | uppercase }}
                        {{ userFullName.firstName | uppercase }}
                        {{userFullName.middleName | uppercase}}</strong></p>
            </ng-container>

            <ng-template class="user-info-block__data" #loading>Loading...</ng-template>
        </section>

    </div>

    <div class="grid__row g-3">
        <section class="items-block col-xs-12 col-md-12 col-lg-6">
            <div class="items-block__wrapper">
                <h3 class="title title_h3">Мои карты</h3>
                <span class="items-block__spacer"></span>
                <button mat-button><span data-btn="card-register" (click)="onRedirectClick($event)"
                        class="link">Заказать карту</span></button>
            </div>
            <div class="items-block__wrapper">
                <ng-container *ngIf="userCards$ | async as userCards else loading">
                    <ng-container *ngIf="userCards.length > 0 else empyCardsList">
                        <app-card (click)="showExpandedCard(card)"
                            *ngFor="let card of userCards$ | async; trackBy: trackCardByFn" [card]="card"
                            [viewMode]="'simple'">
                        </app-card>
                    </ng-container>
                </ng-container>

                <ng-template #empyCardsList>
                    <div class="product">
                        <div class="product__row">
                            <span class="product__spacer"></span>
                            <mat-icon data-btn="card-register" (click)="onRedirectClick($event)"
                                class="product__icon">add</mat-icon>
                        </div>
                        <p class="product__info">Заказать</p>
                    </div>
                </ng-template>
            </div>
        </section>

        <section class="items-block col-xs-12 col-md-12 col-lg-6">
            <div class="items-block__wrapper">
                <h3 class="title title_h3">Мои счета</h3>
                <span class="items-block__spacer"></span>
                <button mat-button><span data-btn="account-register" (click)="onRedirectClick($event)"
                        class="link">Открыть счет</span></button>
            </div>

            <div class="items-block__wrapper">
                <div class="product product_bg-clr">
                    <div class="product__row">
                        <span class="product__spacer"></span>
                        <mat-icon data-btn="account-register" (click)="onRedirectClick($event)"
                            class="product__icon">add</mat-icon>
                    </div>
                    <p class="product__info product__info_clr">Открыть</p>
                </div>
            </div>
        </section>
    </div>
</div>