<header class="header">
    <nav class="header__wrapper">
        <a href="">
            <img class="header__logo" src="assets/bank-logo.svg" alt="bank-logo"/>
        </a>

        <ul class="header__links-list">
            <div>
                <li></li>
            </div>
            <li class="header__links-list-item">
                <mat-icon>person</mat-icon>
                <button mat-button>Личный кабинет</button>
            </li>
        </ul>
    </nav>
</header>

<main class="main">
    <
</main>