<ng-container *ngIf="viewMode === 'simple'">
    <article [ngClass]="getCardClass()" class="card">
        <div class="card__row">
            <img class="card__logo" [src]="getProgramTypeLogo()" />
            <span class="card__spacer"></span>
            <span [ngClass]="getCardTermClass()" class="card__term">срок: {{card.month}}/{{card.year}}</span>
        </div>
        <p [ngClass]="getCardNumberClass()" (click)="toggleCardNumber()" class="card__number">{{card.number | cardNumber
            : isHiddenNumber}}</p>
    </article>
</ng-container>

<ng-container *ngIf="viewMode === 'expanded'">
    <section class="card-wrapper">
        <article [ngClass]="getCardClass()" class="card card_expanded">
            <div class="card__row">
                <mat-icon>credit_card</mat-icon>
                <span class="card__header">{{card.product.name}}</span>
                <span class="card__spacer"></span>
                <img class="card__logo" [src]="getProgramTypeLogo()" />
            </div>
            <div class="card__row">
                <div class="card__balance">
                    <span>{{card.account.balance}}</span>
                    <mat-icon class="card__currency">{{getCurrencyIcon()}}</mat-icon>
                </div>
            </div>
            <div class="card__row card__row_g-3">
                <span [ngClass]="getCardTermClass()">Срок: {{card.month}}/{{card.year}}</span>
                <span (click)="toggleCodeCVC()" class="card__cvc">CVC: {{((cardCVC$ | async) ?? 0) | codeCVC :
                    isHiddenCVC}}</span>
            </div>
            <p [ngClass]="getCardNumberClass()" (click)="toggleCardNumber()" class="card__number card__number_expanded">
                {{card.number | cardNumber
                : isHiddenNumber}}</p>
            <div class="card__row card__row-g-3">
                <mat-icon>calendar_month</mat-icon>
                <span>{{card.account.createdDate | date : 'short'}}</span>
            </div>

            <div class="card__row card__row-g-3">
                <mat-icon>info</mat-icon>
                <span>{{getCardState()}}</span>
            </div>
        </article>

        <div class="card-wrapper__buttons-group">
            <button (click)="updateCardState()" mat-button
                class="card-wrapper__button button">{{returnButtonText()}}</button>
        </div>

        <div class="pin-code-block" #pinCodeBlock>
            <form [formGroup]="pinCodeForm" class="form form_center-content">
                <div class="form__row-field-group">
                    <div class="form__field form__field_digit">
                        <input #digit1 (input)="moveFocus(digit1, digit2)" class="form__input form__input_digit"
                            type="text" formControlName="digit1" mask="0" />
                    </div>
                    <div class="form__field form__field_digit">
                        <input #digit2 (input)="moveFocus(digit2, digit3)" class="form__input form__input_digit"
                            type="text" formControlName="digit2" mask="0" />
                    </div>
                    <div class="form__field form__field_digit">
                        <input #digit3 (input)="moveFocus(digit3, digit4)" class="form__input form__input_digit"
                            type="text" formControlName="digit3" mask="0" />
                    </div>
                    <div class="form__field form__field_digit">
                        <input #digit4 class="form__input form__input_digit" type="text" formControlName="digit4"
                            mask="0" />
                    </div>
                </div>

                <div class="form__buttons-wrapper">
                    <button type="submit" (click)="setPinCode()" mat-button class="form__button form__button_white button">Установить пин-код</button>
                </div>
            </form>
        </div>

    </section>
</ng-container>