@import '/src/app/styles/library';

.item-block {
    height: 120px;

    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: $box-shadow;

    display: flex;
    align-items: center;

    overflow: hidden;

    @media screen and (min-width: $md-width) {
        height: 150px;
    }
}