<div class="grid g-3">
    <app-spinner [showSpinner]="showSpinner$ | async"></app-spinner>
    <div class="grid__row">
        <h2 class="title col-xs-12 col-md-12 col-lg-12">
            Банковские карты
        </h2>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card__view">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon data-btn="debit" (click)="onRedirectClick($event)" class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper" *ngIf="debitCardInfo$ | async as debitCard else loading">
                    <h3 class="card__header">{{debitCard.name}}</h3>
                    <p class="card__description">{{debitCard.shortDescription}}</p>
                    <button data-btn="debit" (click)="onRedirectClick($event)" class="card__button"
                        mat-button>Заказать</button>
                </div>
            </div>

            <ng-template #loading>loading...</ng-template>
        </section>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card__view card__view_clr-02">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon data-btn="credit" (click)="onRedirectClick($event)" class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper" *ngIf="creditCardInfo$ | async as creditCard else loading">
                    <h3 class="card__header">{{creditCard.name}}</h3>
                    <p class="card__description">{{creditCard.shortDescription}}</p>
                    <button data-btn="credit" (click)="onRedirectClick($event)" class="card__button card__button_clr-02"
                        mat-button>Заказать</button>
                </div>
            </div>

            <ng-template #loading>loading...</ng-template>
        </section>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-8">
            <div class="card">
                <div class="card__view card__view_clr-03">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon data-btn="virtual" (click)="onRedirectClick($event)" class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper">
                    <h3 class="card__header">Виртуальная</h3>
                    <p class="card__description">Аналог обычной карты без физического носителя</p>
                    <button data-btn="virtual" (click)="onRedirectClick($event)"
                        class="card__button card__button_clr-03" mat-button>Заказать</button>
                </div>
            </div>
        </section>
    </div>
</div>