<div class="grid g-3">
    <div class="grid__row">
        <h2 class="title col-xs-12 col-md-12 col-lg-12">
            Банковские карты
        </h2>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card__view">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper">
                    <h3 class="card__header">Дебетовая</h3>
                    <p class="card__description">Выпуск и обслуживание бесплатно</p>
                    <button class="card__button" mat-button>Заказать</button>
                </div>
            </div>
        </section>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card__view card__view_clr-02">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper">
                    <h3 class="card__header">Кредитная </h3>
                    <p class="card__description">Длинный льготный период без условий и навсегда</p>
                    <button class="card__button card__button_clr-02" mat-button>Заказать</button>
                </div>
            </div>
        </section>
    </div>

    <div class="grid__row g-3">
        <section class="item-block col-xs-12 col-md-12 col-lg-6">
            <div class="card">
                <div class="card__view card__view_clr-03">
                    <div class="card__row">
                        <span class="card__spacer"></span>
                        <mat-icon class="card__icon">add</mat-icon>
                    </div>
                    <p class="card__number">0000</p>
                </div>
                <div class="card__description-wrapper">
                    <h3 class="card__header">Виртуальная</h3>
                    <p class="card__description">Аналог обычной карты без физического носителя</p>
                    <button class="card__button card__button_clr-03" mat-button>Заказать</button>
                </div>
            </div>
        </section>
    </div>
</div>