<header class="header">
    <nav class="header__wrapper">
        <a href="">
            <img class="header__logo" src="assets/bank-logo.svg" alt="bank-logo" />
        </a>


        <ul class="header__links-list">
            <span class="header__spacer"></span>
            <ng-container *ngIf="!isAuthorizated else authListLinks">
                <li class="header__links-list-item">
                    <button mat-button data-btn="enter" (click)="onRedirectClick($event)">
                        <mat-icon>person</mat-icon>
                        <span class="link">Войти</span>
                    </button>
                </li>
                <li class="header__links-list-item">
                    <button mat-button data-btn="register" (click)="onRedirectClick($event)">
                        <mat-icon>app_registration</mat-icon>
                        <span class="link">Регистрация</span>
                    </button>
                </li>
            </ng-container>
        </ul>

        <button class="header__menu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="header__menu">menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <ng-container *ngIf="!isAuthorizated else authListLinks">
                <button data-btn="enter" (click)="onRedirectClick($event)" mat-menu-item>
                    <mat-icon>person</mat-icon>
                    <span class="link">Войти</span>
                </button>
                <button data-btn="register" (click)="onRedirectClick($event)" mat-menu-item>
                    <mat-icon>app_registration</mat-icon>
                    <span class="link">Регистрация</span>
                </button>
            </ng-container>
        </mat-menu>

        <ng-template #authListLinks>
            <button mat-button data-btn="user-home" (click)="onRedirectClick($event)">
                <mat-icon>person</mat-icon>
                <span class="link" *ngIf="userFirstName$ | async as userFirstName else loading">{{ userFirstName
                    }}</span>
                <ng-template #loading>Loading...</ng-template>
            </button>
        </ng-template>

        <ng-template $authMenuItem>
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span *ngIf="userFirstName$ | async as userFirstName else loading">{{ userFirstName }}</span>
                <ng-template #loading>Loading...</ng-template>
            </button>
        </ng-template>
    </nav>
</header>

<main class="main">
    <div class="main__wrapper">
        <div class="main__welcome-info">
            <h2 class="main__header">{{title}}</h2>
            <p class="main__info">Супер-кешбек до 30%, переводы без комиссии</p>
        </div>

        <img class="main__img" src="assets/welcome-img.jpg" />

        <button class="main__button" (click)="onMainButtonClick()" mat-flat-button>{{isAuthorizated ? 'Оформить карту' :
            'Войти'}}</button>
    </div>
</main>

<footer class="footer">
    <div class="footer__wrapper">
        <img class="footer__logo" src="assets/bank-text-logo.svg" />
        <mat-divider class="footer__divider"></mat-divider>

        <div class="footer__info-wrapper">
            <p class="footer__info">Made by geek035</p>
            <p class="footer__info">
                <a class="link">Политика соглашения</a>
            </p>
            <p class="footer__info">
                <a class="link">Техническая поддержка</a>
            </p>
        </div>
    </div>
</footer>