<div class="content">
    <mat-tab-group [(selectedIndex)]="activeTab" #tabGroup [dynamicHeight]="true">
        <mat-tab label="Логин" [disabled]="!(this.activeTab == 0)">
            <app-spinner [showSpinner]="showSpinner | async"></app-spinner>
            <section class="recover-password-box">
                <h2 class="recover-password-box__header">Восстановление пароля</h2>
                <mat-form-field class="recover-password-box__input">
                    <mat-label>Введите логин</mat-label>
                    <input [formControl]="loginControl" type="text" matInput />
                    <mat-error *ngIf="loginControl.hasError('unknownUser')">Клиента не существует</mat-error>
                </mat-form-field>
                <div class="recover-password-box__buttons-group">
                    <button (click)="getCode()" mat-flat-button class="button">Получить код</button>
                </div>
            </section>
        </mat-tab>

        <mat-tab label="Подтверждение" [disabled]="!(this.activeTab == 1)">
            <app-spinner [showSpinner]="showSpinner | async"></app-spinner>
            <section class="recover-password-box">
                <h2 class="recover-password-box__header">Подтверждение кода</h2>
                <mat-form-field class="recover-password-box__input">
                    <mat-label>Логин</mat-label>
                    <input [formControl]="loginControl" [value]="loginControl.value" type="text" matInput />
                </mat-form-field>
                <mat-form-field class="recover-password-box__input">
                    <mat-label>Введите код</mat-label>
                    <input type="password" [formControl]="codeControl" type="text" matInput />
                    <mat-error *ngIf="codeControl.hasError('required')">Поле не должно быть пустым</mat-error>
                    <mat-error *ngIf="codeControl.hasError('maxlength')">Превышено максимально возможное кол-во
                        символов</mat-error>
                    <mat-error *ngIf="codeControl.hasError('pattern')">Допустимы только цифры</mat-error>
                    <mat-error *ngIf="codeControl.hasError('wrongCode')">Неверный смс-код</mat-error>

                </mat-form-field>
                <div class="recover-password-box__buttons-group">
                    <button (click)="sendCode()" mat-flat-button class="button">Отправить код</button>
                    <button (click)="refreshCode()" mat-flat-button class="button">Отправить код еще раз</button>
                </div>

            </section>
        </mat-tab>

        <mat-tab label="Новый пароль" [disabled]="!(this.activeTab == 2)">
            <app-spinner [showSpinner]="showSpinner | async"></app-spinner>
            <section class="recover-password-box">
                <h2 class="recover-password-box__header">Новый пароль</h2>
                <form class="form" [formGroup]="passwordFormGroup">
                    <!--Password Field-->
                    <mat-form-field class="form__field">
                        <mat-label>Придумайте пароль</mat-label>
                        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" matInput />
                        <button type="button" matSuffix mat-icon-button aria-label="Показать пароль"
                            (click)="showPasswordSymbols()">
                            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="_password.hasError('required')">
                            Заполните поле
                        </mat-error>
                        <mat-error *ngIf="_password.hasError('minlength')
                            && !_password.hasError('noCapitalLetter')
                            && !_password.hasError('noSpecialSymbol')">
                            Меньше минимально возможного количества символов
                        </mat-error>
                        <mat-error *ngIf="_password.hasError('maxlength')">
                            Превышено максимальное количество символов
                        </mat-error>
                        <mat-error *ngIf="_password.hasError('noCapitalLetter')
                            && !_password.hasError('required')
                            && !_password.hasError('noSpecialSymbol')">
                            Пароль должен содержать по крайней мере одну заглавную букву
                        </mat-error>
                        <mat-error *ngIf="_password.hasError('noSpecialSymbol')
                            && !_password.hasError('required')">
                            Пароль должен содержать по крайней мере один специальный символ
                        </mat-error>
                    </mat-form-field>


                    <!--RepeatedPassword Field-->
                    <mat-form-field class="form__field">
                        <mat-label>Повторите пароль</mat-label>
                        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="repeatedPassword"
                            matInput />
                        <button type="button" matSuffix mat-icon-button aria-label="Показать пароль"
                            (click)="showPasswordSymbols()">
                            <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="_repeatedPassword.hasError('required')">
                            Заполните поле
                        </mat-error>
                        <mat-error *ngIf="_repeatedPassword.hasError('noMatchPasswords')">
                            Пароли не совпадают
                        </mat-error>
                    </mat-form-field>

                    <div class="form__buttons-wrapper form__buttons-wrapper_align-start">
                        <button [disabled]="passwordFormGroup.invalid"
                            class="button form__button" type="submit" mat-flat-button
                            (click)="onRestorePasswordCLick()">Обновить пароль</button>
                    </div>
                </form>
            </section>
        </mat-tab>
    </mat-tab-group>
</div>